/*footer*/
.footer{background:#e8e8e8;color:#c5c5c5;padding:20px 0;text-align:center;}
.footer_nav{padding:5px 0;}
.footer_nav a{color:#000;}
.footer_nav span{padding:0 12px;}
.copyright{line-height:24px;color:#888;}
